<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SP</title>
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body class="bg-cream h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
      <h1 class="text-3xl text-center">Your Tasks</h1>
  </body>
</html>
